Cliente_WCF_Matriculas/Connected Services/ProxyConsultas/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Matriculas" />
  <xs:element name="ListarCuotasPendientesAlumnos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Alum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCuotasPendientesAlumnosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ListarCuotasPendientesAlumnosResult" nillable="true" type="q1:ArrayOfCuotaDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMatriculadosFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecIni" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMatriculadosFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ListarMatriculadosFechasResult" nillable="true" type="q2:ArrayOfMatriculadoDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlumnosCarrera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_carrera" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlumnosCarreraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ListarAlumnosCarreraResult" nillable="true" type="q3:ArrayOfMatriculadoDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarBloquesVacantes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Vacantes" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarBloquesVacantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Matriculas" minOccurs="0" name="ListarBloquesVacantesResult" nillable="true" type="q4:ArrayOfBloqueDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>