Cliente_WCF_Matriculas/Connected Services/ProxyCarrera/WCF_Matriculas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Matriculas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Matriculas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCarreraDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarreraDC" nillable="true" type="tns:CarreraDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarreraDC" nillable="true" type="tns:ArrayOfCarreraDC" />
  <xs:complexType name="CarreraDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_carrera" type="xs:int" />
      <xs:element minOccurs="0" name="Nom_carrera" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarreraDC" nillable="true" type="tns:CarreraDC" />
</xs:schema>