SIS_MAT_MVC/Connected Services/ProxyEspecialidad/WCF_Matriculas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Matriculas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Matriculas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEspecialidadDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EspecialidadDC" nillable="true" type="tns:EspecialidadDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEspecialidadDC" nillable="true" type="tns:ArrayOfEspecialidadDC" />
  <xs:complexType name="EspecialidadDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Des_esp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_esp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EspecialidadDC" nillable="true" type="tns:EspecialidadDC" />
</xs:schema>