SIS_MAT_MVC/Connected Services/ProxyAlumno/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioAlumno" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Matriculas" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioAlumno_ConsultarAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAlumno" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_ConsultarAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_ListarAlumnos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAlumnos" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_ListarAlumnos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAlumnosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_ActualizarAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarAlumno" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_ActualizarAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_EliminarAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAlumno" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_EliminarAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_InsertarAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarAlumno" />
  </wsdl:message>
  <wsdl:message name="IServicioAlumno_InsertarAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarAlumnoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioAlumno">
    <wsdl:operation name="ConsultarAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAlumno/ConsultarAlumno" message="tns:IServicioAlumno_ConsultarAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAlumno/ConsultarAlumnoResponse" message="tns:IServicioAlumno_ConsultarAlumno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAlumnos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAlumno/ListarAlumnos" message="tns:IServicioAlumno_ListarAlumnos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAlumno/ListarAlumnosResponse" message="tns:IServicioAlumno_ListarAlumnos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAlumno/ActualizarAlumno" message="tns:IServicioAlumno_ActualizarAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAlumno/ActualizarAlumnoResponse" message="tns:IServicioAlumno_ActualizarAlumno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAlumno/EliminarAlumno" message="tns:IServicioAlumno_EliminarAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAlumno/EliminarAlumnoResponse" message="tns:IServicioAlumno_EliminarAlumno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAlumno/InsertarAlumno" message="tns:IServicioAlumno_InsertarAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAlumno/InsertarAlumnoResponse" message="tns:IServicioAlumno_InsertarAlumno_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioAlumno" type="tns:IServicioAlumno">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarAlumno">
      <soap:operation soapAction="http://tempuri.org/IServicioAlumno/ConsultarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAlumnos">
      <soap:operation soapAction="http://tempuri.org/IServicioAlumno/ListarAlumnos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarAlumno">
      <soap:operation soapAction="http://tempuri.org/IServicioAlumno/ActualizarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAlumno">
      <soap:operation soapAction="http://tempuri.org/IServicioAlumno/EliminarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarAlumno">
      <soap:operation soapAction="http://tempuri.org/IServicioAlumno/InsertarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioAlumno">
    <wsdl:port name="BasicHttpBinding_IServicioAlumno" binding="tns:BasicHttpBinding_IServicioAlumno">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Matriculas/ServicioAlumno/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>