Cliente_WCF_Matriculas/Connected Services/ProxyAlumno/WCF_Matriculas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Matriculas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Matriculas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AlumnoDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ape_Alum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dir_alum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dni_alum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email_alum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_Ult_Mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_nac" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_reg" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Ubigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_alum" type="xs:int" />
      <xs:element minOccurs="0" name="Nom_alum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel_alum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlumnoDC" nillable="true" type="tns:AlumnoDC" />
  <xs:complexType name="ArrayOfAlumnoDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlumnoDC" nillable="true" type="tns:AlumnoDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlumnoDC" nillable="true" type="tns:ArrayOfAlumnoDC" />
  <xs:complexType name="AlumnoDCUPDATES">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ape_Alum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dir_alum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dni_alum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email_alum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Est_alum" type="xs:int" />
      <xs:element minOccurs="0" name="Fec_nac" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Ubigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_alum" type="xs:int" />
      <xs:element minOccurs="0" name="Nom_alum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel_alum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlumnoDCUPDATES" nillable="true" type="tns:AlumnoDCUPDATES" />
  <xs:complexType name="AlumnoDCINSERTS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ape_Alum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dir_alum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dni_alum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email_alum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Est_alum" type="xs:int" />
      <xs:element minOccurs="0" name="Fec_nac" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Ubigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom_alum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel_alum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Registro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlumnoDCINSERTS" nillable="true" type="tns:AlumnoDCINSERTS" />
</xs:schema>